<% content_for :title, "新しいアルバム | デジタル記念館" %>

<div class="page-container" style="max-width:560px;">
  <div class="page-header">
    <h1 class="page-title">新しいアルバムを作成</h1>
  </div>
  <%= render "form", album: @album %>
</div>
